<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>StudentsRecord</title>

        <style>
            .space{
                padding-left: 60px;
                text-align: center;
            }
        </style>

    </head>
    <body>
        <div class="container my-5">
            <div class="jumbotron">
                <form method="get" action="/isloggedin">
                    <p>Email</p>
                    <input type="text" name="email" id="email">
                    <br>
                    <p>Password</p>
                    <input type="text" name="password" id="password">
                    <button class="btn btn-primary">Submit</button>
                </form>
                <br>
                <p>For new user <a href="/signup">Signup</a></p>

            </div>
        </div>
    </body>
</html>