<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>StudentsRecord</title>

        <style>
            .space{
                padding-left: 60px;
                text-align: center;
            }
        </style>

    </head>
    <body>
        <div class="container my-5">
            <div class="jumbotron">
                <form method="get" action="/signin">
                    <p>Email</p>
                    <input type="text" name="email" id="email">
                    <br>
                    <p>Password</p>
                    <input type="text" name="password" id="password">
                    <br>
                    <p>Password Again</p>
                    <input type="text" name="passwordagain" id="passwordagain">
                    <br>

                    <button class="btn btn-primary my-2">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>